*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
max-width: 1400px;
}
#carouselimg{
    height: 400px;
}
.text-success{
    color: green;
}
.card-img-top{
 height: 250px;
 object-fit: contain;
 vertical-align: middle;
}